@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --font-family: 'Ubuntu', sans-serif;
  --delete-btn: #fd6f96;
  --close-btn: #95dac1;
  --max-width: 120rem;
  --all-tag: #001e6c;
  --close-tag: #5089c6;
  --open-tag: #00a19d;
  --padding: 2rem;
  --add-btn: #3db2ff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: #000;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.tracker-tag {
  padding: 0.4rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  margin: 0 0.6rem;
  cursor: pointer;
  color: #fff;
}

.container {
  width: var(--max-width);
  padding: var(--padding);
  border: 1px solid #333;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px #333;
}
.logout {
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 5px #3db2ff;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logout .logout-name {
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.logout .logout-btn {
  display: inline-block;
  color: var(--delete-btn);
  text-transform: uppercase;
  cursor: pointer;
}

.logout:hover .logout-name {
  display: none;
}

.add-task {
  display: flex;
  flex-direction: column;
}

.add-task .main-title {
  font-size: 5rem;
  font-weight: 700;
  margin: 0 0 10rem 0;
  text-align: center;
}
.form {
  width: 100%;
  position: relative;
}
.form label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.form .success,
.form select {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0.7rem;
  margin-bottom: 0.5rem;
}
.form .error {
  border: 1px solid red;
}

.form .des-error {
  color: red;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  display: inline-block;
  width: 200px;
  height: 25px;
  border: 1px solid red;
  border-radius: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  visibility: hidden;
  opacity: 0;
}

.form .des-error.active {
  visibility: visible;
  opacity: 1;
}

.form .des-error::before {
  content: '';
  width: 13px;
  height: 13px;
  position: absolute;
  top: -1px;
  left: 30px;
  transform: translateY(-50%) rotate(45deg);
  border: 1px solid red;
  border-bottom: none;
  border-right: none;
}

.form .des-error::after {
  content: '';
  width: 18px;
  height: 2px;
  position: absolute;
  top: -1px;
  left: 28px;
  background-color: white;
}
.form input[type='text']:focus,
.form select:focus {
  outline: none;
  border: 1px solid #3db2ff;
  box-shadow: 0 0 5px #3db2ff;
}

.form input[type='submit'] {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: var(--add-btn);
  border: none;
  border-radius: 0.6rem;
  color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
}

.form input[type='submit']:hover {
  background-color: #2aa7fa;
}

.option-tracker {
  margin-top: 5rem;
  border-top: 1px solid rgb(180, 180, 180);
}

.option-tracker .header-tracker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-tracker h2 {
  font-size: 3rem;
  font-weight: 400;
}

.header-tracker input[type='search'] {
  outline: none;
  padding: 0.5rem;
  border: 1px solid rgb(172, 172, 172);
}
.header-tracker input[type='search']:focus {
  border: 1px solid #3db2ff;
  box-shadow: 0 0 5px #3db2ff;
}

.filter-tracker {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.filter-tracker label {
  margin-right: 10rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.filter-tracker .tag {
  padding: 0.6rem 1rem;
  border: 1px solid #333;
  border-radius: 0.7rem;
}

.filter-tracker .all-tag {
  cursor: pointer;
  background-color: var(--all-tag);
  color: #fff;
}

.filter-tracker .all-tag:hover {
  background-color: #00154b;
}

.filter-tracker .open-tag {
  cursor: pointer;
  background-color: var(--open-tag);
  color: #fff;
}

.filter-tracker .open-tag:hover {
  background-color: #02807d;
}

.filter-tracker .close-tag {
  cursor: pointer;
  background-color: var(--close-tag);
  color: #fff;
}

.filter-tracker .close-tag:hover {
  background-color: #3171b6;
}

.order-tracker {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.order-tracker label {
  margin-right: 7rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.order-tracker .select-order {
  padding: 0.5rem 1rem;
  width: 170px;
  border: 1px solid rgb(172, 172, 172);
}

.order-tracker .select-order:focus {
  outline: none;
  border: 1px solid #3db2ff;
  box-shadow: 0 0 5px #3db2ff;
}

.list-tracker {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.list-tracker .list-tracker-header {
  display: flex;
  align-items: center;
  background-color: rgb(248, 248, 248);
  padding: 0 2rem;
  border: 1px solid rgb(167, 167, 167);
  border-bottom: unset;
}

.list-tracker-header .tracker-code {
  color: rgb(148, 148, 148);
  margin-right: 2rem;
  font-size: 1.6rem;
}

.list-tracker-header .new-tag {
  background-color: #333;
  color: #fff;
}

.list-tracker .tracker-info {
  padding: 1.4rem 2rem;
  border: 1px solid rgb(167, 167, 167);
}

.tracker-info .description-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.description-info .description {
  color: #000;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 0.8rem 0;
}

.description-info .low {
  background-color: var(--all-tag);
  color: #fff;
  width: 50px;
  text-align: center;
}
.description-info .medium {
  background-color: rgb(6, 80, 114);
  color: #fff;
  width: 50px;
  text-align: center;
}

.description-info .high {
  background-color: rgb(90, 12, 80);
  color: #fff;
  width: 50px;
  text-align: center;
}

.tracker-info .option-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.option-button .clo-btn {
  background-color: var(--close-btn);
  outline: none;
  border: 0;
}

.option-button .del-btn {
  background-color: var(--delete-btn);
  outline: none;
  border: 0;
}

.option-button .clo-btn:hover {
  background-color: #7bd3b3;
}
.option-button .del-btn:hover {
  background-color: #fd5783;
}

.status-login {
  background-color: #09dbd8;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  animation: status 3s ease-in-out forwards;
}

.status-login .status {
  color: #0922af;
}

@keyframes status {
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.add {
  visibility: hidden;
}
.add.active {
  background-color: #075cdb;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  animation: add 3s ease-in-out forwards;
  visibility: visible;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  z-index: 99;

}

.add.active .add-status {
  color: rgb(245, 245, 245);
}

@keyframes add {
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.delete {
  display: none;
}
.delete.active {
  position: fixed;
  left: 50%;
  top: 25%;
  width: 100%;
  transform: translate(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  animation: delete 3s ease-in-out forwards;
  visibility: visible;
  background: var(--delete-btn);
  width: 200px;
  height: 50px;
}

.delete.active .delete-status {
  color: rgb(245, 245, 245);
}

@keyframes delete {
  to {
    visibility: hidden;
    opacity: 0;
  }
}
